
	<ion-view>
	
		<ion-content>			
			<ion-list>
			<ion-item class="itm">
				<div class="search" >
			
			 <label class="item item-input inp-wrap">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="搜索" ng-model="txt" ng-keydown="search(e)">
        </label>
        
        </div>
			</ion-item>
		<ion-item class="item
			" ng-click="goToMyCase()" ng-repeat="item in data">
			<div class="row">
					<div class="col-80 fw-900 black fs-20">
					<span>案件名称：</span><span>{{item.name}}</span>
				</div>	
				<div class="col-20 text-right positive">{{item.casestatus}}</div>
			</div>
			<div class="row">
				<div class="col-80">
					<span>案件编号：</span><span>{{item.id}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-80">
					<span>办案主题：</span><span>{{item.sheme}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-80">
					<span>我方角色：</span><span>{{item.role}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-80">
					<span>主办律师：</span><span>{{item.lawyer}}</span>
				</div>
			</div>
					
					
					
					
				
		</ion-item>

	</ion-list>
		</ion-content>
	</ion-view>
	


