<ion-view>
	<ion-content ng-controller="search_ctrl">
		<ion-list>
		<ion-item class="itm">
			<div class="search">
			
			 <label class="item item-input inp-wrap">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="搜索" ng-model="txt" ng-keydown="search($event)">
        </label>
        
        </div>
		</ion-item>
		<ion-item>
			<h4>&nbsp;&nbsp;按标签查看</h4>
			<ul class="tagUl">
				<li ng-repeat="item in tags" class="tagLi" ng-click="search($event,item.id)">{{item.tag}}</li>
			</ul>
		</ion-item>
			
		</ion-list>
	</ion-content>
</ion-view>