<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">
<ion-tab title="单一案件主页面" class="hide" ng-click="footerGo('delCase1','具体')">
  <ion-nav-view name="delCase" ></ion-nav-view>
</ion-tab>

<ion-tab title="时间" icon-on="ion-android-time" icon-off="ion-android-time" ng-click="footerGo('time','案件时间设置')">
	<ion-nav-view name="time" ></ion-nav-view>
</ion-tab>
<ion-tab title="随手拍" ng-click="footerGo('takePhoto','随手拍')" icon-on="ion-camera" icon-off="ion-camera">
	<ion-nav-view name="takePhoto"></ion-nav-view>
</ion-tab>
<ion-tab title="文档" ng-click="footerGo('doc','我的文档')"  icon-on="ion-folder" icon-off="ion-folder">
	<ion-nav-view name="doc"></ion-nav-view>
</ion-tab>
<ion-tab title="案件干系人" ng-click="footerGo('casePeople','案件干系人')" icon-on="ion-ios-people" icon-off="ion-ios-people">
	<ion-nav-view name="casePeople"></ion-nav-view>
</ion-tab>
<ion-tab title="外聘律师"  ng-click="footerGo('lawyerWay','外聘律师流程')"  icon-on="ion-android-person" icon-off="ion-android-person">
	<ion-nav-view name="lawyerWay"></ion-nav-view>
</ion-tab>
</ion-tabs>

<!-- <div class="tabs-striped hui ">
      <div class="tabs">
        <a class="tab-item active"  ng-click="footerGo('delCase','案件时间设置')">
          <img src="./imgs/time.png">
          <ion-nav-view name="more"></ion-nav-view>
        </a>
        <a class="tab-item" ng-click="footerGo('takePhoto','随手拍')">
         <img src="./imgs/photo.png">
         <ion-nav-view name="more"></ion-nav-view>
        </a>
        <a class="tab-item"  ng-click="footerGo('doc','文档')">
          <img src="./imgs/doc1.png">
          <ion-nav-view name="more"></ion-nav-view>
        </a>
        <a class="tab-item"  ng-click="footerGo('casePeople','案件干系人')">
          <img src="./imgs/ren1.png">
          <ion-nav-view name="more"></ion-nav-view>
        </a>
        <a class="tab-item" ng-click="footerGo('lawyerWay','外聘律师流程')">
          <img src="./imgs/jin1.png">
          <ion-nav-view name="more"></ion-nav-view>
        </a>
      </div>
    </div> -->