.userMain{font-size: 24px;}
.userMain .mainContent,.scroll,.pane{
	width:100%;
	height:100%;
	
	display:flex;
	flex-direction:column;
		.circle_wrap{
			flex:1;
			
			display: flex;
			justify-content: center;
			align-items:center;
			flex-direction: column;
				.circle1{
					width: 200px;
					height: 200px;
					border-radius:50%;
					background:url("../imgs/1.png") 100% 100% no-repeat;
				
				}
				.circle2{
					width: 200px;
					height: 200px;
					border-radius:50%;
					background:url("../imgs/2.png") 100% 100% no-repeat; 
				
				}
			
				
					
				
		}

}

.backBlue{
	background:#37AEFE;
	color:white;
}
.backDeepBlue{
	background:#226694;
}
.title{
	font-style: 16px;
}
#clean{background:white}

.search{
	width:100%;
	height:50px;
	background:#E6E6E6;
	display:flex;
	align-items:center;
	justify-content:center;
	.inp-wrap{
		width: 90%;
		height: 80%;
		border-radius:20px;
		
	}
}
.fw-900{
	font-weight: 900;
}
.black{
	color:black;
}
.fs-20{
	font-size:20px;
}
.hui{
	background:#E6E6E6;
}
.hui 
	.tab-item{
		display: flex;
		align-items:center;
		justify-content: center;
		img{
		width:30px;
		height:30px;
	}

}
@for $i from 2 through 3 {
  .f#{$i} { margin-left: 5% * $i; }
}
.f4,.img_box{
	height:auto;
	margin:15px 0 15px;
	width:100%;
	display:flex;
	flex-wrap:wrap;
			img{
			margin: 10px;
			width: 60px;
			height: 60px;
		}
	}	
.tagUl{
	width:100%;
	height:auto;
	display:flex;
	flex-wrap:wrap;
	.tagLi{
		width: auto;
		height: 30px;
		border: 1px solid #999;
		color:#999;
		margin:5px;
		font-size: 16px;
		text-align: center;
		line-height: 20px;
		padding: 5px;
	}
}
