.userMain{font-size: 24px;}
.userMain .mainContent,.scroll,.pane{
	width:100%;
	height:100%;
	
	display:flex;
	flex-direction:column;
		.circle_wrap{
			flex:1;
			
			display: flex;
			justify-content: center;
			align-items:center;
			flex-direction: column;
				.circle1{
					width: 200px;
					height: 200px;
					border-radius:50%;
					background:url("../imgs/1.png") 100% 100% no-repeat;
				
				}
				.circle2{
					width: 200px;
					height: 200px;
					border-radius:50%;
					background:url("../imgs/2.png") 100% 100% no-repeat; 
				
				}
			
				
					
				
		}

}

.backBlue{
	background:#37AEFE;
	color:white;
}
.backDeepBlue{
	background:#226694;
}
.title{
	font-style: 16px;
}
#clean{background:white}

.search{
	width:100%;
	height:50px;
	background:#E6E6E6;
	display:flex;
	align-items:center;
	justify-content:center;
	.inp-wrap{
		width: 90%;
		height: 80%;
		position:relative;
		.inp{
		width: 100%;
		height: 100%;
		border-radius:20px;
		text-indent: 10px;
		background:white; 
		}
		.big{
		width: 75px;
		height: 40px;
		font-size:16px;
		position: absolute;
		margin:auto;
		left: 0;
		right:0;
		top:0;
		bottom: 0;
		display: flex;
		align-content:space-around;
		img{
			width: 25px;
			height: 25px;
			margin-top: 7px;
		}
		span{
			width: 50px;
			height: 40px;
			line-height:40px;
			display: inline-block;
			padding: 0;
			margin: 0;
			font-size: 20px;
			color:#aaa;
		}
	}

	}
}
.fw-900{
	font-weight: 900;
}
.black{
	color:black;
}
.fs-20{
	font-size:20px;
}
